
    <nav>
        <div class="logo">
            <h4>Travel Trek</h4>
          </div>
<ul>
  <li><a class="active" href="/user/destinations"><b>Ticket Booking</a></li>
  <li><a href="/user/parking-slots">Parking</a></li>
  <li><a href="/auth/login">Login</a></li>
  <li><a href="/auth/signup">SignUp</b></a></li>
</ul>
</nav>

