<!DOCTYPE html>
<html>
  <%- include('../partials/header.ejs') %>
  <body bgcolor="#78a7ba">
    <%- include('../partials/nav.ejs') %>
    <h2></h2>
    <form><center>
      Select District <br />
      <select id="district">
        <option value="select">select</option>
        <option value="trivandrum">Trivandrum</option>
        <option value="kollam">Kollam</option>
        <option value="pathanamthitta">Pathanamthitta</option>
        <option value="alappuzha">Alappuzha</option>
        <option value="kottayam">Kottayam</option>
        <option value="idukki">Idukki</option>
        <option value="eranankulam">Eranankulam</option>
        <option value="thrissur">Thrissur</option>
        <option value="palakkad">Palakkad</option>
        <option value="malappuram">Malappuram</option>
        <option value="calicut">Calicut</option>
        <option value="wayanad">Wayanad</option>
        <option value="kannur">Kannur</option>
        <option value="kasarkode">Kasarkode</option></select
      ><br />
      <span id="districtErr"></span><br />

      Select Category <br />
      <select id="category">
        <option value="select">select</option>

        <option value="museum">Museum</option>
        <option value="amusement park">Amusement Park</option>
        <option value="zoo">Zoo</option>
        <option value="park">Park</option></select
      ><br />
      <span id="categoryErr"></span><br />

      <button id="btn">Search</button></center>
    </form>
    <script>
      const district = document.getElementById("district");
      const category = document.getElementById("category");
      const districtErr = document.getElementById("districtErr");
      const categoryErr = document.getElementById("categoryErr");
      const btn = document.getElementById("btn");

      btn.addEventListener("click", async function (event) {
        event.preventDefault();
        categoryErr.textContent = "";
        districtErr.textContent = "";

        let isErr = false;

        if (district.value == "select") {
          districtErr.textContent = "Please select a district";
        }

        if (category.value == "select") {
          categoryErr.textContent = "Please select a category";
        }

        if (!isErr) {
          window.location.href = `http://localhost:3000/user/destinations-in?district=${district.value}&category=${category.value}`;

            //  const response = await fetch(url);
             
        }
      });
    </script>
  </body>
</html>
