<!DOCTYPE html>
<html lang="en" >
  <%- include('../partials/header.ejs') %>
<body>
  <%- include('../partials/nav.ejs') %>
<!-- partial:index.partial.html -->
<div id="bg"></div>

<form>
  <h2>Login</h2>
  <div class="form-field">
    Email <br>
    <input type="email" />
  </div>
  
  <div class="form-field">
    Password <br>
    <input type="password" />                         </div>
  
  <div class="form-field">
    <button class="btn" type="submit">Log in</button>
  </div>
  
</form>
<!-- partial -->
  
</body>
</html>
