<!DOCTYPE html>
<html lang="en">

<body>
    <section id="registration-page">
        <form class="signup-form">
            
            <div class="form-header">
                <h1>Create Account</h1>
            </div>
            
            <div class="form-body">
                <!-- First name & Last name -->
                <div class="row">
                    <div class="input-group">
                        <label>First name </label>
                        <input type="text" placholder="Enter your first name" required>
                    </div>
                    <div class="input-group">
                        <label>Last name</label>
                        <input type="text" placholder="Enter your last name" required>
                    </div>
                </div>
                <!-- Email -->
                <div class="row">
                    <div class="input-group">
                        <label>Email </label>
                        <input type="email" placholder="Enter your email address" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <label>Phone </label>
                        <input type="number" placholder="Enter your your number" required>
                    </div>
                    <div class="input-group">
                        <label>Password </label>
                        <input type="password" placholder="Enter your your password" required>
                    </div>
                </div>
  
            <!--  FORM FOOTER   -->
            <div class="form-footer">
                <button class="btn">Create</button>
            </div>
        </form>
    </section>

    <script>
        const changeSliderValue = (value) => {
            document.getElementById("rangeSliderLabel").innerText = value + " K";
        }
    </script>

</body>

</html>