<html>
    <%- include('./partials/header.ejs') %>
    <style>
        body {
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("pic.webp");
        background-repeat: no-repeat;
        background-size: cover;
        }
    </style>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="title">
        <h3>“Whether you want to cruise the backwaters, sip tea in a plantation, or relax on a beach, this alluring Indian state has it all and more.”</h3>
   
    </div>
<div class="button">
    
    &nbsp;
</div>


</body>    
    
</html>

