<!DOCTYPE html>
<head></head>
<body>
    <form action="">
     Select Date<input type="date" name="date">
     Vehicle Model<input type="text" name="model">
     Vehicle Number<input type="text" name="num">
     Driver's name<input type="text" name="name">
     <input type="submit" name="sub" value="BOOK">
    </form>
</body>