<!DOCTYPE html>
<html>
  <%- include('../partials/header.ejs') %>
<body>
  <%- include('../partials/nav.ejs') %>
  <button id="fetch-location">Click Me</button>
  <div id="map" class="map" style="height: 650px;"></div>
  <script>


const renderMap = (latitude, longitude , data) => {

// Create a map centered on a specific location
const map = L.map('map').setView([latitude, longitude], 12);

// Add a tile layer to the map
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
}).addTo(map);

// Add a marker to the map

console.log(data);

data.forEach((element) => {

L.marker([element.location.coordinates[0], element.location.coordinates[1]]).addTo(map)
.bindPopup('d')
.openPopup();
});

L.marker([latitude,longitude]).addTo(map)
.bindPopup('Current')
.openPopup();

};


const fetchCurrentLocation = () => {

 if (navigator.geolocation) {
     navigator.geolocation.getCurrentPosition(
       position => {
         const { latitude, longitude } = position.coords; 
         console.log(latitude,longitude);
         fetchNearByDestinations(latitude,longitude);
         // renderMap(latitude, longitude);
     } 
     )}  
};



const fetchNearByDestinations =  (latitude,longitude,range=50000) => {
 
const url = `http://localhost:3000/user/parking-slots?latitude=${longitude}&longitude=${latitude}&range=${range}`;

fetch(url)
 .then(response => response.json())
 .then((data) => {
   // console.log(data);
   renderMap(latitude,longitude,data)
 })
 .catch(error => console.error(error));

};



const fetchLocationButton = document.getElementById('fetch-location');

fetchLocationButton.addEventListener('click', fetchCurrentLocation());



  </script>
  <%- include('../partials/footer.ejs') %>
</body>
</html>
